---
layout: default
title: Nic Benders
---

<div id="home">
  <h1>Talks and Presentations</h1>
  <ul class="posts">
    {% for post in site.categories.presentations %}
	<li><span>({{ post.date | date_to_string }})</span> <a href="{{ post.presentation_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Blarg Posts</h1>
  <ul class="posts">
    {% for post in site.categories.blarg %}
	<li><span>({{ post.date | date_to_string }})</span> <a href="{{ post.blarg_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h1>Open Source Projects</h1>
  <ul class="posts">
    <li><a href="http://github.com/benders/twitter-auth/tree/rails_3">twitter-auth (fork)</a> Rails 3 compatibility for the twitter-auth plugin.</li>
    <li><a href="http://github.com/benders/backgroundrb/tree/rails_3">backgroundrb (fork)</a> Rails 3 compatibility for the backgroundrb plugin.</li>
    <li><a href="http://github.com/benders/apns_provider/">apns_provider:</a> Ruby provider for the Apple Push Notification service.</li>
    <li><a href="http://github.com/gnarg/blarg/">blarg:</a> A blarging engine in Ruby.</li>
  </ul>

  <h1>Curriculum vitae</h1>
  <ul class="posts">
    <li><span>(2010 - cur.)</span> <a href="http://newrelic.com/">New Relic</a> </li>
    <li><span>(2007 - 2010)</span> <a href="http://www.vocel.com/">Vocel</a> </li>
    <li><span>(2005 - 2007)</span> Sixth Column, LLC </li>
    <li><span>(1999 - 2005)</span> <a href="http://www.motricity.com/">Motricity</a> </li>
    <li><span>(1998 - 1998)</span> <a href="https://science.nrao.edu/facilities/gbt/">National Radio Astronomy Observatory</a> </li>
    <!-- <li><a href="http://s3.nicbenders.com.s3.amazonaws.com/files/resume09.pdf">Full resume as PDF</a></li> -->
  </ul>
  
</div>
  