<!DOCTYPE html>
<html lang="en">
<!-- Original layout and CSS lovingly stolen from Tom Preston-Werner (github.com/mojombo/tpw/) -->
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   {% include newrelic-standalone.html %}
   <meta name="author" content="Nic Benders" />
   <link rel="icon" type="image/png" href="/favicon.png" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Resume CSS -->
   <link rel="stylesheet" href="/css/resume09.css" type="text/css" media="screen, projection" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/local.css" type="text/css" media="screen, projection" />

   <!-- iPhone CSS -->
   <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
   <meta name="viewport" content="width=480" />

   <!-- Google Webmaster Tools -->
   <meta name="verify-v1" content="Sv8Dgq/ZSPhtjM0lf6DZzcvc1Tg0ZLAAMXlG0eRnQ48=" />
   <meta name="verify-v1" content="Ei1ckTePSkyP0qO8sDwzsCdzOacD5LlYnsLxi440tUQ=" /> <!-- As xac.slackworks.com -->
   <script type="text/javascript">
    // var disqus_developer = 1;
   </script>
</head>
<body>

<div class="site">
<div class="matte">
<div class="content">
  <div class="title">
    <span class="name"><a href="/">Nic Benders</a></span>
    <a class="extra" href="/">home</a><!-- &nbsp;&nbsp;&mdash;<a class="extra" href="/resume/">résumé</a> -->
  </div>

  {{ content }}

  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}

  <div class="footer">
    <div class="contact">
      <p>
        Nic Benders<br />
        nic&#64;nicbenders.com
      </p>
    </div>
    <div class="contact">
      <p>
        <img height="10" width="10" src="https://cdn.simpleicons.org/github" /> <a href="http://github.com/benders/" rel="me">github.com/benders</a><br />
        <img height="10" width="10" src="https://cdn.simpleicons.org/mastodon" /> <a rel="me" href="https://slackworks.social/@xac">xac@slackworks.social</a><br />
      </p>
    </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/nicbenders/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</body>
</html>
